# Data preprocessing

## Importing libraries and dataset

In [2]:
import numpy as nm
import pandas as pd
import matplotlib.pyplot as mpt

In [4]:
data_set= pd.read_csv("C:\\Users\\Desktop\\Data.csv")

In [5]:
data_set

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

## Extracting dependent and independent variables

In [6]:
x= data_set.iloc[:,:-1].values

In [7]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [8]:
y= data_set.iloc[:,3].values

## Handling missing data (Replacing missing data with the mean value)

In [10]:
 from sklearn.preprocessing import Imputer  
imputer= Imputer(missing_values ='NaN', strategy='mean', axis = 0)  

#Fitting imputer object to the independent variables x.   
imputerimputer= imputer.fit(x[:, 1:3])  

#Replacing missing data with the calculated mean value  
x[:, 1:3]= imputer.transform(x[:, 1:3])

## Splitting the Dataset into the Training set and Test set

In [26]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2, random_state=0)

## Feature Scaling
#### import StandardScaler class of sklearn.preprocessing library

In [27]:
from sklearn.preprocessing import StandardScaler

In [28]:
# to create the object of StandardScaler class for independent variables or features
st_x= StandardScaler()  

# fit and transform the training dataset
x_train= st_x.fit_transform(x_train)

In [29]:
# directly apply transform() function for the test dataset
x_test= st_x.transform(x_test)

In [30]:
x_train

array([[-1.        ,  2.64575131, -0.77459667,  0.26306757,  0.12381479],
       [ 1.        , -0.37796447, -0.77459667, -0.25350148,  0.46175632],
       [-1.        , -0.37796447,  1.29099445, -1.97539832, -1.53093341],
       [-1.        , -0.37796447,  1.29099445,  0.05261351, -1.11141978],
       [ 1.        , -0.37796447, -0.77459667,  1.64058505,  1.7202972 ],
       [-1.        , -0.37796447,  1.29099445, -0.0813118 , -0.16751412],
       [ 1.        , -0.37796447, -0.77459667,  0.95182631,  0.98614835],
       [ 1.        , -0.37796447, -0.77459667, -0.59788085, -0.48214934]])

In [31]:
x_test

array([[-1.        ,  2.64575131, -0.77459667, -1.45882927, -0.90166297],
       [-1.        ,  2.64575131, -0.77459667,  1.98496442,  2.13981082]])